@model SixLaborsCaptchaSettingsViewModel

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<div class="mb-3" asp-validation-class-for="IpDetectionThreshold">
    <label asp-for="IpDetectionThreshold">@T["Ip Detection Threshold"]</label>
    <input asp-for="IpDetectionThreshold" class="form-control" type="text" />
    <span asp-validation-for="IpDetectionThreshold"></span>
    <span class="hint">@T["Set IpDetectionThreshold."]</span>
</div>
<div class="mb-3" asp-validation-class-for="NumberOfCaptcha">
    <label asp-for="NumberOfCaptcha">@T["Number Of Captcha"]</label>
    <input asp-for="NumberOfCaptcha" class="form-control" type="text" autocomplete="off" />
    <span asp-validation-for="NumberOfCaptcha"></span>
    <span class="hint">@T["Set NumberOfCaptcha."]</span>
</div>

